{% extends "user.html" %}
{% block content %}
<div class="container">
    <h2>Previous Quiz Scores</h2>
    {% if scores %}
        <ul class="list-group">
            {% for score in scores %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ score.quiz.title }} - ({{ score.quiz.chapter.name }}) - Score: {{ score.total_score }}/{{ score.quiz.questions|length }}</span>
                    <a href="{{ url_for('quiz_performance', quiz_id=score.quiz.id) }}" class="btn btn-primary">Quiz Report</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">No quiz attempts yet.</p>
    {% endif %}
</div>
{% endblock %}